<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="imgd">
    <img src="../imgs/image 1.png" class="im">
</div>
<div class="container" style="margin-top: 120px;">
        <div class="card-body">
            <form class="frm" method="post" action="/atualizarFarm/<%= fazenda._id %>">
                <h2 class="car2">Alterar Plantações</h2>
                <div class="form-group">
                    <label class="n">Número de Plantas</label><br>
                    <input class="numeroPlantas" type="number" name="num_plantas" value="<%= fazenda.num_plantas %>">
                </div>
                <div class="form-group">
                    <label class="d">Data da Análise</label><br>
                    <input class="dataAnalise" type="date" name="dt_analise" value="<%= fazenda.dt_analise %>">
                </div>
                <div class="form-group">
                    <label class="l">Localização</label><br>
                    <input class="localizacao" type="text" name="localizacao" value="<%= fazenda.localizacao %>">
                </div>
                <div class="form-group">
                    <label class="t">Tamanho</label><br>
                    <input class="tamanho" type="text" name="tamanho" value="<%= fazenda.tamanho %>">
                </div>
                <div class="form-group">
                    <label class="ti">Tipo de Pupunheira</label><br>
                    <select class="pupunheira" name="tipo_pupunheira" value="<%= fazenda.tipo_pupunheira %>">
                        <option value="" selected disabled></option>
                        <option value="Comum">Pupunha Comum</option>
                        <option value="Brava">Pupunha Brava</option>
                        <option value="Sem_Espinho">Pupunha Sem Espinho</option>
                        <option value="Gigante">Pupunha Gigante</option>
                        <option value="de_Palmito">Pupunha de Palmito</option>
                    </select>
                </div>
                <input type="hidden" name="id" value="<%= fazenda._id %>">
                <br>
                <input type="submit" class="bt2" value="Alterar" onclick="return confirm('Confirma as Alterações')">
            </form>
        </div>
    </div>
</div>

<%- include ('partials/footer.ejs') %>