<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="cor">
    <div class="imagem" id="imageContainer">
        <div class="circle" id="upload">
            <i class="fa-solid fa-camera fa-xl">
            <input type="file" id="fileInp"></i>
        </div>
    </div>
    <h3 class="t1" id="nome_perfil"><%= perfil.nome %></h3>
    <h3 class="subt1" id="email_perfil"><%= perfil.email %></h3>
    <form action="/logout" method="POST">
    <input type="submit" class="sair" value="Sair">
    </form>

    <form class="per" action="/alterar" method="POST"> 
        <input type="submit" class="alterar" value="Alterar">

        <label class="ln">Nome</label><br>
        <input type="text" class="nome" name = "nome" value="<%= perfil.nome %>">
        <label class="ls">Sobrenome</label><br>
        <input type="text" class="sobrenome" name = "sobrenome" value="<%= perfil.sobrenome %>">
        <label class="le">Email</label><br>
        <input type="email" class="emai" name = "email" value="<%= perfil.email %>">
        <label class="lS">Senha</label><br>
        <input type="password" class="senha"name = "senha"  value="<%= perfil.senha %>" disabled>
        <label class="lt">Telefone</label><br>
        <input type="tel" class="telefone" name = "telefone" value="<%= perfil.telefone %>" >
        <label class="lc">Cargo</label><br>
        <select class="cargo" value="<%= perfil.cargo %>" name = "cargo" >
            <option value=""></option>
            <option value="Proprietário" <% if(perfil.cargo === "Proprietário") { %> selected <% } %>>Proprietário</option>
            <option value="Funcionário" <% if(perfil.cargo === "Funcionário") { %> selected <% } %>>Funcionário</option>
        </select>
    </form>
    
</div>

<%- include ('partials/footer.ejs') %>